*.csv
*.png
*.pdb
*.txt
pillbox/
pillbox/* 
__pycache__/
__pycache__/* 
*.out
*.ent 
!her2/hdock_her2/model_*.pdb
!her2/known_binding_pose/*
!her2/affinity_data_cdr3.csv
!her2/Shanehsazzadeh-zero-shot-binders.csv
!her2/Shanehsazzadeh-spr-controls.csv
.DS_Store
.DS_Store/*
her2/hdock_her2/model_*.clean.pdb
her2/data_chinneryetal/
her2/data_chinneryetal/* 

